body{
    color: #b2b9bf;
    background: #3e4b59;
}

.topbar{
    background: #233242;
}
.top-bar-main{
    height: 40px;
    background: #34249252;
    width: 100%;
    top: 0;
}

.item-menu-box{
    background: #3d2f6c4d;
    width: 180px;
    border-radius: 4px;
    padding-left: 10px;
    color: white !important;
    margin-bottom: 7px;
    transition: ease-in-out all 0.3s;
}

.navbar-brand{
    transition: ease-in-out all 0.3s;
}

.title-item-block{
    transition: ease-in-out all 0.3s;
}


.toggle{
    width: 0 !important;
    transition: ease-in-out all .3s;
}

.toggle .item-menu-box {
    width: 0;
    display: none;
}

.toggle .navbar-brand{
    width: 0;
    display: none;
}
.toggle .title-item-block{
    width: 0;
    display: none;
}

.item-menu-box:hover{
    background: #4e369e80;
}

.item-menu-box a:hover{
    color: white;
}

.item-menu-box a {
    color: white;
}
.shadow-grey{
    box-shadow: 1px 1px 11px -3px rgba(147, 148, 148, 0.2);
}

.active{
    background: rgba(241, 38, 223, 0.84);
}
.active .icon-nav-item{
    color: black;
}
.active a{
    color: #3f3e3e;
    font-weight: 600;
}
.active a:hover{
    color: #3f3e3e;
    font-weight: 600;
}
.active:hover{
    background: #84a3b0 !important;
}

.mr-10{
    margin-right: 10px;
}

.icon-nav-item{
    color: #c1c1c1c4;
    font-size: 19px;
}

div.tags-container div.tag{
    display: inline-block;
    background: #55add5;
    color: aliceblue;
    padding: 1px 6px;
    border-radius: 20px;
    margin: 2px;
}

div.tags-container div.tag button{
    background: none;
    border: none;
    font-size: 18px;
}

div.tags-container input{
    margin-top: 5px;
}

/*//table action*/
.item-action{
    background: #494d4d;
    color: whitesmoke;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 1px;
    margin: 1px;
}